@charset "utf-8";

@font-face {
    font-family: '1942';
    src: url('../fonts/1942/1942-webfont.woff2') format('woff2'),
         url('../fonts/1942/1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "1942", serif;
    font-size: 16px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background: #202020 url("../img/images/backgrounds/noise.png") top left repeat;
    color: #808080;
}

#main {
    max-width: 90%;
    margin: 5% auto;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px;
}

h1#title {
    font-size: 4rem;
    text-align: center;
    margin: 3% 0; 
}

figure#img-div {
    text-align: center;
}

img#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 10px solid transparent;
    border-image-source: url("../img/images/backgrounds/border-gabe.png");
    border-image-slice: 90;
    filter: grayscale(1);
}

figcaption#img-caption {
    margin: 1% 0;
}

section#tribute-info h2 {
    margin-top: 3%;
    font-size: 2.5rem;
    text-align: center;
}

section#tribute-info ul {
    width: 80%;
    margin: 4% auto;
    list-style-image: url("../img/images/backgrounds/valve-list-image.png");
    text-align: justify;
    column-count: 2;
    column-gap: 10%;
    column-rule: 3px solid #808080;
    list-style-position: inside;
}

section#tribute-info ul li {
    font-weight: bold;
    margin-bottom: 4%;
}

section#tribute-info h3 {
    margin: 5% 0;
    font-size: 1.5rem;
    text-align: center;
}

section#tribute-info h3 a {
    text-decoration: none;
    color: white;
    transition: all ease 400ms;
}

section#tribute-info h3 a:hover {
    color: gainsboro;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    body {
        font-size: 20px;
    }

    #main {
        margin: 0;
        max-width: 100%;
        padding: 1%;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    section#tribute-info ul {
        width: 80%;
        margin: 4% auto;
        column-count: unset;
        column-gap: unset;
        column-rule: unset;
    }

    section#tribute-info ul li {
        margin-bottom: 10%;
    }

    figcaption#img-caption {
        margin: 5% 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
    h1#title {
        margin: 10% 0;
        font-size: 2rem;
    }

    section#tribute-info h2 {
        margin: 10% 0;
        font-size: 1.2rem;
    }

    section#tribute-info h3 {
        margin: 10% 0;
        font-size: 1.1rem;
    }

    figcaption#img-caption {
        font-size: 0.8rem;
    }

    section#tribute-info ul {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: landscape) {
    h1#title {
        margin: 10% 0;
        font-size: 3rem;
    }

    section#tribute-info h2 {
        margin: 10% 0;
        font-size: 1.8rem;
    }

    section#tribute-info h3 {
        margin: 10% 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    body {
        font-size: 18px;
    }

    #main {
        margin: 0;
        max-width: 100%;
        padding: 1%;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    section#tribute-info ul {
        width: 80%;
        margin: 4% auto;
        column-count: unset;
        column-gap: unset;
        column-rule: unset;
    }

    section#tribute-info ul li {
        margin-bottom: 10%;
    }

    figcaption#img-caption {
        margin: 5% 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) and (orientation: portrait) {
    h1#title {
        margin: 8% 0;
        font-size: 2rem;
    }

    section#tribute-info h2 {
        margin: 8% 0;
        font-size: 1.2rem;
    }

    section#tribute-info h3 {
        margin: 8% 0;
        font-size: 1.1rem;
    }

    figcaption#img-caption {
        font-size: 0.8rem;
    }

    section#tribute-info ul {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) and (orientation: landscape) {
    h1#title {
        margin: 8% 0;
        font-size: 3rem;
    }

    section#tribute-info h2 {
        margin: 8% 0;
        font-size: 1.8rem;
    }

    section#tribute-info h3 {
        margin: 8% 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 839px) {
    body {
        font-size: 16px;
    }

    #main {
        margin: 0;
        max-width: 100%;
        padding: 1%;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    section#tribute-info ul {
        width: 80%;
        margin: 4% auto;
        column-count: unset;
        column-gap: unset;
        column-rule: unset;
    }

    section#tribute-info ul li {
        margin-bottom: 2%;
    }

    figcaption#img-caption {
        margin: 2% 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 839px) and (orientation: portrait) {
    h1#title {
        margin: 2% 0;
        font-size: 2rem;
    }

    section#tribute-info h2 {
        margin: 2% 0;
        font-size: 1.2rem;
    }

    section#tribute-info h3 {
        margin: 2% 0;
        font-size: 1.1rem;
    }

    figcaption#img-caption {
        font-size: 0.8rem;
    }

    section#tribute-info ul {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 839px) and (orientation: landscape) {
    h1#title {
        margin: 2% 0;
        font-size: 3rem;
    }

    section#tribute-info h2 {
        margin: 2% 0;
        font-size: 1.8rem;
    }

    section#tribute-info h3 {
        margin: 2% 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 840px) and (max-width: 959px) {
    body {
        font-size: medium;
    }

    section#tribute-info ul {
        width: 80%;
        margin: 4% auto;
        column-count: unset;
        column-gap: unset;
        column-rule: unset;
    }

    section#tribute-info ul li {
        margin-bottom: 5%;
    }

    figcaption#img-caption {
        margin: 5% 0;
    }
}

@media screen and (min-width: 840px) and (max-width: 959px) and (orientation: portrait) {
    h1#title {
        margin: 5% 0;
        font-size: 2rem;
    }

    section#tribute-info h2 {
        margin: 5% 0;
        font-size: 1.2rem;
    }

    section#tribute-info h3 {
        margin: 5% 0;
        font-size: 1.1rem;
    }

    figcaption#img-caption {
        font-size: 0.8rem;
    }

    section#tribute-info ul {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 840px) and (max-width: 959px) and (orientation: landscape) {
    h1#title {
        margin: 5% 0;
        font-size: 3rem;
    }

    section#tribute-info h2 {
        margin: 5% 0;
        font-size: 1.8rem;
    }

    section#tribute-info h3 {
        margin: 5% 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        font-size: 12px;
    }
}